<!DOCTYPE html>
<html>
  <head>    
    <meta charset="utf-8">
    <link
       type="text/css"
       href="{{site.baseurl}}/css/layout1.css" rel="stylesheet" media="screen">
    <link
       type="text/css"
       href="{{site.baseurl}}/css/format_text.css" rel="stylesheet" media="screen">


    <style>
      @import "https://ajax.googleapis.com/ajax/libs/dojo/1.10.4/dijit/themes/claro/document.css"
      @import "https://ajax.googleapis.com/ajax/libs/dojo/1.10.4/dijit/themes/claro/claro.css";
    </style>
    </link>

    <!-- load Dojo --> 
    <script src="https://ajax.googleapis.com/ajax/libs/dojo/1.10.4/dojo/dojo.js"
            data-dojo-config="async: true">
    </script>

    <script type="text/javascript">
      require(["./js/libs/easydojo/app/main.js","dojo/domReady"]);    
    </script>
 
    <title>{{site.title}}</title>
  </head>
  
  <body>
    {{content}}
  </body>
</html>
